:root {
    --main-bg-color: #344DA0;
    --white-bg-color: #FFFFFC;
    --spacer: 1rem;
}

body {
    background-color: var(--main-bg-color);
}

.login-form{
    background-color: var(--white-bg-color);
}

.mb-1 {
    margin-bottom: var(--spacer * .25) !important;
}
